bin/**.js
lib/**.js
# bin/**.d.ts
# lib/**.d.ts
*.js
*.d.ts

!jest.config.js
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

#go binaries
main

#combatlog
*.txt
*.txt.gz

#goland
.idea